# Node.js
node_modules/
.env
# macOS
.DS_Store

# Logs
logs
*.log

# Dependency directories
jspm_packages/
bower_components/

# TypeScript
*.tsbuildinfo

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
